@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #535353;
  background-color: #eeeeee;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

button {
  cursor: pointer;
}

.active {
  text-decoration-line: underline;
  text-decoration-color: #d946ef;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
}

.btn {
  padding: 0 2.5rem;
  height: 5rem;
  font-size: 1.6rem;
  border-radius: 5px;
  font-weight: 600;
}

.explore-btn {
  background-color: #d946ef;
  color: white;
  transition: all 0.3s;
}

.explore-btn:hover {
  background-color: #bf36d4;
}

.more-btn {
  background-color: white;
  transition: all 0.3s;
}

.more-btn:hover {
  background-color: #cccccc;
}

.arrow-btn {
  font-size: 2.8rem;
  font-weight: 800;
  height: 5rem;
  width: 5rem;

  border-radius: 222px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

.arrow-btn {
  width: 5rem;
  height: 5rem;
  position: absolute;
  z-index: 10;
  border-radius: 222px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
  top: 35%;
}

.arrow-left {
  left: 5px;
}

.arrow-right {
  right: 5px;
}

/* /////////// SLIDER COMPONENT ///////////////////////////// */

/*  //////////////////////////////////////////////////////// */
.container,
.single-product {
  margin: 100px auto;
  width: 80%;
  height: 100vh;
  /* background-color: bisque; */
}

.furniture-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
}

.furniture-picture {
  height: 200px;
  width: 350px;
  border-radius: 10px;
}

.furniture-item-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
}

.furniture-price {
  color: #d22dc1;
}

.single-product-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
}

.product-img {
  width: 550px;
  height: 500px;
  /* border: 1px solid black; */
  border-radius: 10px;
}

.side-pictures {
  margin-top: 20px;
  display: flex;
  width: 550px;
  justify-content: space-between;
}

.side-img {
  width: 100px;
  height: 70px;
  /* border: 1px solid black; */
  border-radius: 5px;
}

.info-cont {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.back-btn {
  background-color: #d22dc1;
  color: white;
  font-weight: bold;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.hidden {
  display: none;
}
