@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.active {
  text-decoration: underline;
}

.section_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  place-items: center;
}

.section_2 {
  margin: 100px 0;
}

.some-products {
  display: flex;
  justify-content: space-between;
}

.some-products img {
  width: 300px;
}

.single-product {
  display: flex;
  flex-direction: column;
}
